.navegation ul{
    display: flex;
    justify-content: space-around;
}

.navegation ul li {
    border: 0.5px solid #000;
    border-radius: 10px;
    background-color: rgb(50, 54, 58);
    list-style: none;
    transition: 1s;
}

.navegation ul li:hover {
    background-color: aquamarine;
    border: 1px solid aqua;
    border-radius: 10px;
}

.navegation ul li a {
    padding: 15px;
    font-size: 1.7rem;
    text-decoration: none;
    color: rgb(221, 215, 44);
}

.navegation ul li a:hover {
    color: cadetblue;
}